Source: retry
Priority: optional
Maintainer: Graham Leggett <minfrin@sharp.fm>
Build-Depends: debhelper (>= 8.0.0), autotools-dev, help2man
Standards-Version: 4.1.4
Section: utils
Homepage: https://github.com/minfrin/retry

Package: retry
Section: utils
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Keep retrying a command until the command meets
 a specific criteria, usually success.

